<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="luxury, perfume, fragrances, scent"><!--cuvintele cheie ale paginii; majoritatea motoarelor de căutare ignoră keywords -->
    <meta name="description" content="Curs de Tehnici Web. Limbajul HTML. Taguri.">
        <link rel="stylesheet" href="/resurse/css/produse.css" type="text/css" />
        <title>Cofetăria Dulcelind - home</title>
        <%- include("../fragmente/head") %>     
        <script type="text/javascript" src=/resurse/js/produse.js></script>
        <script type="text/javascript" src=/resurse/js/produse-cos.js></script>

    </head>
    <body>
    
    <%- include("../fragmente/header") %>
    

    <main>

        <div> Fără alcool:
    <p><label>Da
        <input id="i_alcool1" name="gr_alcool" value="da" type="radio"/>
    </label></p>
    <p><label>Nu
        <input id="i_alcool2" name="gr_alcool" value="nu" type="radio"/>
    </label></p>
    <p><label>Toate
        <input id="i_alcool3" checked name="gr_alcool" value="toate" type="radio"/>
    </label></p>
</div>
        <label>
            <input type="checkbox" id="salveaza-filtrare">
            salvează filtrare<br>
        </label>
        <label> Nume: <input type="text" id="inp-nume"></label>
        <!--<label> Maxim calorii: <input type="number" id="inp-calorii" value="10000"></label>-->
        <div> Gramaj:<!-- trebuie sa aiba acelasi name ca sa formeze un grup -->
            <p><label>Mic (&le; 50 ml)
                <input id="i_rad1"  name="gr_rad" value="0:50" type="radio"/>
            </label></p>
            <p><label>Mediu (50 &lt; ml &le; 100)
                <input id="i_rad2"  name="gr_rad" value="50:100" type="radio"/>
            </label>
            <p><label>Mare (&gt; 100 ml)
                <input id="i_rad3" name="gr_rad" value="100:1000000000" type="radio"/>
            </label>
            <p><label>Toate
                <input id="i_rad4" checked name="gr_rad" value="toate" type="radio"/>
            </label>
        </div>


        <label> Pret minim: <input type="range" id="inp-pret" value="0" min="0"  max="500"> <span id="infoRange">(0)</span></label>
        <label>Select simplu:
            <select id="inp-categorie">
                <option id="sel-toate" selected value="toate">toate</option>
                <% for (let opt of locals.optiuni) { %>
                    <option value="<%- opt.unnest %>"><%- opt.unnest %> </option>
                <% } %>
            </select>
        </label>

        <p>
        <button id="filtrare">Filtreaza</button> 

        <button id="resetare">Reseteaza</button><br/>
        
        <label>

        
    Criteriu principal:
    <select id="sort-primar">
        <option value="pret">Preț</option>
        <option value="nume">Nume</option>
        <option value="gramaj">Gramaj</option>
        <option value="categorie">Categorie</option>
    </select>
</label>
<label>
    Criteriu secundar:
    <select id="sort-secundar">
        <option value="nume">Nume</option>
        <option value="pret">Preț</option>
        <option value="gramaj">Gramaj</option>
        <option value="categorie">Categorie</option>
    </select>
</label>
<label>
    Tip sortare:
    <select id="sort-tip">
        <option value="1">Crescător</option>
        <option value="-1">Descrescător</option>
    </select>
</label>
<button id="sortare-avansata">Sortează</button>
        
        </p>
      
        <p id="p-suma"></p>
        <button id="btn-minim">Arată doar produsul cu prețul minim</button>

        <section id="produse">

            <h2>Produse</h2>
            <div class="grid-produse">
                <% for( let prod of locals.produse) { %>
                    <article class="produs" data-id="<%- prod.id %>" data-nume="<%- prod.nume %>" data-descriere="<%- prod.descriere %>"
                        data-pret="<%- prod.pret %>" data-greutate="<%- prod.greutate %>" data-tip_produs="<%- prod.tip_produs %>"
                        data-categorie="<%- prod.categorie %>" data-ingrediente="<%- prod.ingrediente ? prod.ingrediente.join(', ') : '' %>"
                        data-non_alcool="<%- prod.non_alcool %>" data-imagine="<%- prod.imagine %>"
                        data-data_adaugare="<%- prod.data_adaugare %>">

                        <h3 class="nume">Nume: <a href="/produs/<%-prod.id %>" ><span class="val-nume"><%- prod.nume%></span></a></h3>
                        <div class="info-prod">
                            <p class="pret">Pret: <span class="val-pret"><%- prod.pret%></span></p>
                            <!-- <p class="calorii">Calorii: <span class="val-calorii"><%- prod.calorii%></span></p> -->
                            <p class="gramaj">Gramaj: <span class="val-gramaj"><%- prod.greutate%></span></p>
                        </div>
                        <p class="categorie">Categorie:<span class="val-categorie"><%- prod.categorie%></span></p>
                        <figure>
                            <a href="/produs/<%-prod.id %>" ><img src="/resurse/imagini/produse/<%- prod.imagine %>" style="width:50%;height:auto;" alt="[imagine <%- prod.nume %>]" /></a>
                        </figure>
                        <label class="selecteaza-cos">
                            Selectează:<br/>
                            <input type="checkbox" class="select-cos" value="<%-prod.id %>" autocomplete="off">
                        </label>
                        <button class="compara-btn" data-id="<%- prod.id %>">Compară</button>
                    </article>  
                <% }%>
            </div>

            <div id="paginatie" style="text-align:center; margin: 1em 0;">
                <button id="pagina-prec">Anterior</button>
                <span id="info-pagina">1/1</span>
                <button id="pagina-urm">Următor</button>
            </div>
        </section>
        <!-- Add the comparison container at the end of the page, right before the closing body tag -->
        <div id="container-comparare">
            <div id="produse-comparate"></div>
            <div class="actiuni-comparare">
                <button class="btn-afiseaza-comparatie">Afișează comparație</button>
                <button class="btn-sterge-comparatii">Șterge toate</button>
            </div>
        </div>

        <!-- Add the comparison window -->
        <div id="fereastra-comparare">
            <div id="continut-comparare">
                <button id="inchide-comparare">&times;</button>
                <h2>Comparare produse</h2>
                <div id="tabel-container"></div>
            </div>
        </div>
    </main>

    <%- include("../fragmente/footer") %>

    <div id="popup-produs"
        style="display:none; position:fixed; z-index:9999; left:0; top:0; width:100vw; height:100vh; background:rgba(0,0,0,0.7); align-items:center; justify-content:center;">
        <div id="popup-content"
            style="background:white; padding:2em; border-radius:10px; max-width:500px; margin:auto; position:relative;">
            <button id="close-popup" style="position:absolute; top:10px; right:10px;">&times;</button>
            <!-- Conținutul produsului va fi inserat dinamic -->
        </div>
    </div>
    </body>
</html>